# QCTO - Workplace Module

### Project Title: Exploring Hass Avocado Market Trends: A Data-Driven Analysis of Sales and Pricing (2015-2023)
#### Done By: Michael Thema

© ExploreAI 2024

---

## Table of Contents

<a href=#BC> Background Context</a>

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Data Collection and Description</a>

<a href=#three>3. Loading Data </a>

<a href=#four>4. Data Cleaning and Filtering</a>

<a href=#five>5. Exploratory Data Analysis (EDA)</a>

<a href=#six>6. Modeling </a>

<a href=#seven>7. Evaluation and Validation</a>

<a href=#eight>8. Final Model</a>

<a href=#nine>9. Conclusion and Future Work</a>

<a href=#ten>10. References</a>

The purpose of this project is to analyze the sales and pricing trends of Hass avocados in the United States from 2015 to 2023. The project aims to provide insights into how various factors, such as seasonality, regional differences, and economic conditions, influence avocado prices and sales volumes. By understanding these dynamics, the project seeks to help stakeholders—such as producers, retailers, and consumers—make more informed decisions regarding avocado pricing strategies, inventory management, and market expansion.

Goals

The specific goals of the project include:

**Trend Analysis:** Examine historical trends in avocado prices and sales volumes over the given period, identifying patterns that may be linked to seasonal or regional factors.

**Regional Comparison:** Compare avocado market dynamics across different regions to understand how local conditions affect pricing and sales.

**Predictive Modeling:** Develop models to forecast future avocado prices and sales volumes, aiding in planning and decision-making.

**Impact Assessment:** Assess the impact of external factors, such as economic changes or shifts in consumer preferences, on the avocado market.

Understanding the factors that influence the avocado market is critical for several reasons:

**Market Stability:** Producers and retailers can use the insights from this analysis to stabilize their supply chains, avoiding potential losses due to unexpected price fluctuations or supply shortages.

**Consumer Insights:** By understanding the pricing trends and demand dynamics, consumers can make more informed purchasing decisions, potentially leading to cost savings.

**Strategic Planning:** The findings from this project can assist in long-term strategic planning for stakeholders in the avocado industry, including decisions on where to focus marketing efforts or when to adjust pricing strategies.

## GITHUB REPO
[Click here to view the project repo](https://github.com/MichaelThema/Avacado-Prices.git)

## Project Trello Board
[Click here to view the Trello board](https://trello.com/invite/b/66e85b8f867edb1344587d3e/ATTI3e824bbd51631c2c55a03c6d47c69eae09F6EFA3/project-avacado-prices)

---
<a href=#one></a>
## **Importing Packages**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Set up the Python environment with necessary libraries and tools.
* **Details:** List and import all the Python packages that will be used throughout the project such as Pandas for data manipulation, Matplotlib/Seaborn for visualization, scikit-learn for modeling, etc.
---

In [ ]:
# Importing essential packages for data manipulation, visualization, and modeling

import pandas as pd        # For data manipulation and analysis
import numpy as np         # For numerical operations
import matplotlib.pyplot as plt  # For creating visualizations
import seaborn as sns      # For statistical data visualization

from sklearn.model_selection import train_test_split  # For splitting data into training and testing sets
from sklearn.linear_model import LinearRegression     # For building linear regression models
from sklearn.metrics import mean_squared_error, r2_score  # For evaluating model performance

import statsmodels.api as sm  # For advanced statistical modeling, including time series analysis
from datetime import datetime  # For handling date and time data

# Setting the visual style for the plots
sns.set(style="whitegrid")

# Display a message to confirm that packages are imported
print("Packages successfully imported!")

Packages successfully imported!

---
<a href=#two></a>
## **Data Collection and Description**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Describe how the data was collected and provide an overview of its characteristics.
* **Details:** Mention sources of the data, the methods used for collection (e.g., APIs, web scraping, datasets from repositories), and a general description of the dataset including size, scope, and types of data available (e.g., numerical, categorical).
---

---
<a href=#three></a>
## **Loading Data**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Load the data into the notebook for manipulation and analysis.
* **Details:** Show the code used to load the data and display the first few rows to give a sense of what the raw data looks like.
---

In [ ]:
# Load the dataset
file_path = 'Avocado_HassAvocadoBoard_20152023v1.0.1.csv'
avocado_data = pd.read_csv(file_path)

# Display basic information about the dataset
print(avocado_data.info())

# Show the first few rows of the dataset
print(avocado_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53415 entries, 0 to 53414
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          53415 non-null  object
 1   AveragePrice  53415 non-null  float64
 2   TotalVolume   53415 non-null  float64
 3   plu4046       53415 non-null  float64
 4   plu4225       53415 non-null  float64
 5   plu4770       53415 non-null  float64
 6   TotalBags     53415 non-null  float64
 7   SmallBags     41025 non-null  float64
 8   LargeBags     41025 non-null  float64
 9   XLargeBags    41025 non-null  float64
 10  type          53415 non-null  object
 11  region        53415 non-null  object
dtypes: float64(9), object(3)
memory usage: 4.9+ MB
None
         Date  AveragePrice  TotalVolume    plu4046    plu4225   plu4770  \
0  2015-01-04          1.22     40873.28    2819.50   28287.42     49.90
1  2015-01-04          1.79      1373.95      57.42     153.88      0.00
2  2015-01-04          1.00    435021.49  364302.39   23821.16     82.15
3  2015-01-04          1.76      3846.69    1500.15     938.35      0.00
4  2015-01-04          1.08    788025.06   53987.31  552906.04  39995.03

   TotalBags  SmallBags  LargeBags  XLargeBags          type  \
0    9716.46    9186.93     529.53         0.0  conventional
1    1162.65    1162.65       0.00         0.0       organic
2   46815.79   16707.15   30108.64         0.0  conventional
3    1408.19    1071.35     336.84         0.0       organic
4  141136.68  137146.07    3990.61         0.0  conventional

                region
0               Albany
1               Albany
2              Atlanta
3              Atlanta
4  BaltimoreWashington

---
<a href=#four></a>
## **Data Cleaning and Filtering**
<a href=#cont>Back to Table of Contents</a>

Before we analyze the avocado data, we need to clean it up. This means fixing any issues in the dataset, like filling in missing information, removing incorrect data, and making sure everything is in a consistent format. This will help us get accurate insights from the data.

In [ ]:
# Check for missing values
print("Missing values in each column:")
print(avocado_data.isnull().sum())

Missing values in each column:
Date                0
AveragePrice        0
TotalVolume         0
plu4046             0
plu4225             0
plu4770             0
TotalBags           0
SmallBags       12390
LargeBags       12390
XLargeBags      12390
type                0
region              0
dtype: int64

We first looked at the dataset to see if there were any gaps or missing information. We found that some columns (like the number of small, large, and extra-large avocado bags) had missing values.

We filled these missing values with zeros, assuming that when the data was missing, no bags were sold in those sizes.

In [ ]:
# Filling missing values with zeros
avocado_data_filled = avocado_data.fillna({'SmallBags': 0, 'LargeBags': 0, 'XLargeBags': 0})

print(f"Dataset shape after filling missing values with zeros: {avocado_data_filled.shape}")

Dataset shape after filling missing values with zeros: (53415, 12)

In [ ]:
numerical_cols = avocado_data_filled.select_dtypes(include=[np.number])

# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = numerical_cols.quantile(0.25)
Q3 = numerical_cols.quantile(0.75)
IQR = Q3 - Q1

In [ ]:
# Filter the rows that are not outliers
avocado_data_filtered = avocado_data_filled[~((numerical_cols < (Q1 - 1.5 * IQR)) | (numerical_cols > (Q3 + 1.5 * IQR))).any(axis=1)]

print(f"Dataset shape after removing outliers: {avocado_data_filtered.shape}")

Dataset shape after removing outliers: (30506, 12)


Outliers are extreme values that don't match the typical data. These values can sometimes distort our analysis, so we check for them and remove them if necessary.

We removed any rows that had unusual values using a method that focuses on finding values that are far from the usual range (called the Interquartile Range or IQR). This reduced the number of rows significantly, which means there were many extreme values.

In [ ]:
# Check for incorrect values (e.g., negative prices or volumes)
invalid_rows = avocado_data_filtered[(avocado_data_filtered['AveragePrice'] < 0) | (avocado_data_filtered['TotalVolume'] < 0)]
print("Rows with invalid values (negative prices/volumes):")
print(invalid_rows)

# Remove rows with invalid values
avocado_data_filtered = avocado_data_filtered[(avocado_data_filtered['AveragePrice'] >= 0) & (avocado_data_filtered['TotalVolume'] >= 0)]

Rows with invalid values (negative prices/volumes):
Empty DataFrame
Columns: [Date, AveragePrice, TotalVolume, plu4046, plu4225, plu4770, TotalBags, SmallBags, LargeBags, XLargeBags, type, region]
Index: []


We made sure there were no impossible values, like negative prices or negative sales volumes (since we can't sell negative amounts of avocados).

Fortunately, there were no such errors in our dataset, so we didn't need to remove any rows based on this.

In [ ]:
# Filter data based on a specific condition
# filter to only focus on conventional avocado sales
avocado_data_conventional = avocado_data_filtered[avocado_data_filtered['type'] == 'conventional']

# Display information about the final cleaned dataset
print(avocado_data_conventional.info())
print(avocado_data_conventional.head())

<class 'pandas.core.frame.DataFrame'>
Index: 8144 entries, 0 to 53354
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          8144 non-null   object
 1   AveragePrice  8144 non-null   float64
 2   TotalVolume   8144 non-null   float64
 3   plu4046       8144 non-null   float64
 4   plu4225       8144 non-null   float64
 5   plu4770       8144 non-null   float64
 6   TotalBags     8144 non-null   float64
 7   SmallBags     8144 non-null   float64
 8   LargeBags     8144 non-null   float64
 9   XLargeBags    8144 non-null   float64
 10  type          8144 non-null   object
 11  region        8144 non-null   object
dtypes: float64(9), object(3)
memory usage: 827.1+ KB
None
          Date  AveragePrice  TotalVolume    plu4046   plu4225  plu4770  \
0   2015-01-04          1.22     40873.28    2819.50  28287.42    49.90
6   2015-01-04          1.01     80034.32   44562.12  24964.23  2752.35
78  2015-01-04          1.13    109215.00   48285.15  37562.78    34.10
94  2015-01-04          1.00     84612.39   26607.29  44341.92  3660.64
96  2015-01-04          1.15    198735.26  125713.89  34555.73    53.54

    TotalBags  SmallBags  LargeBags  XLargeBags          type   region
0     9716.46    9186.93     529.53         0.0  conventional   Albany
6     7755.62    6064.30    1691.32         0.0  conventional    Boise
78   23332.97   21582.97    1750.00         0.0  conventional  Roanoke
94   10002.54    9556.06     446.48         0.0  conventional  Spokane
96   38412.10   38400.99      11.11         0.0  conventional  StLouis


To narrow down our focus, we filtered the data to only look at "conventional" avocados, excluding "organic" avocados.

We filtered the dataset to show only the sales of conventional avocados. This reduced the dataset further to focus on what's relevant.

In [ ]:
# Ensure 'Date' column is converted to datetime
avocado_data_filtered.loc[:, 'Date'] = pd.to_datetime(avocado_data_filtered['Date'])

# Filter for a specific region, e.g., 'California'
avocado_data_filtered_region = avocado_data_filtered[avocado_data_filtered['region'] == 'California']

# Filter for a specific time range, e.g., after '2020-01-01'
avocado_data_filtered_region = avocado_data_filtered_region[avocado_data_filtered_region['Date'] >= '2020-01-01']

# Display the results
print(avocado_data_filtered_region.info())
print(avocado_data_filtered_region.head())

<class 'pandas.core.frame.DataFrame'>
Index: 157 entries, 29240 to 53363
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          157 non-null    datetime64[ns]
 1   AveragePrice  157 non-null    float64
 2   TotalVolume   157 non-null    float64
 3   plu4046       157 non-null    float64
 4   plu4225       157 non-null    float64
 5   plu4770       157 non-null    float64
 6   TotalBags     157 non-null    float64
 7   SmallBags     157 non-null    float64
 8   LargeBags     157 non-null    float64
 9   XLargeBags    157 non-null    float64
 10  type          157 non-null    object
 11  region        157 non-null    object
dtypes: datetime64[ns](1), float64(9), object(2)
memory usage: 15.9+ KB
None
            Date  AveragePrice  TotalVolume   plu4046   plu4225  plu4770  \
29240 2020-01-06      1.779792    251868.12  21565.76  14176.89    17.22
29358 2020-01-12      1.862071    244015.05  25645.80  14060.85    27.86
29476 2020-01-19      1.866729    232470.14  23729.62  13183.22    30.26
29594 2020-01-26      1.797532    248786.41  17591.51  11622.14     1.42
29712 2020-02-02      1.758653    244921.26  14051.04  14772.88    23.49

       TotalBags  SmallBags  LargeBags  XLargeBags     type      region
29240   80878.78        0.0        0.0         0.0  organic  California
29358   73219.32        0.0        0.0         0.0  organic  California
29476   74063.89        0.0        0.0         0.0  organic  California
29594   78845.81        0.0        0.0         0.0  organic  California
29712   81671.91        0.0        0.0         0.0  organic  California


Next, we focused on avocado sales in California after January 2020. This helps us analyze how prices and sales volumes changed over time in a specific area.

We filtered the data to include only the sales from California and only for the period after January 1, 2020.

In [ ]:
# Check for duplicate rows
duplicate_rows = avocado_data_filtered_region.duplicated()
print(f"Number of duplicate rows: {duplicate_rows.sum()}")

# Remove duplicates if any
avocado_data_filtered_region = avocado_data_filtered_region.drop_duplicates()

Number of duplicate rows: 0


Sometimes the same data can appear more than once by mistake. We checked to see if there were any duplicate rows.

Luckily, there were no duplicates in the dataset, so we didn’t have to remove any rows.

In [ ]:
# Example: Standardize 'region' column to lowercase and strip whitespace
avocado_data_filtered_region['region'] = avocado_data_filtered_region['region'].str.lower().str.strip()


To make sure everything is consistent, we standardized how the region names were written. For example, we ensured that all region names were in the same format (e.g., making sure "california" was written consistently as "California").

We cleaned up the region names to ensure they were consistently formatted. This helps avoid errors later on.

In [ ]:
# Example: If 'region' column contains inconsistent labels, replace them
avocado_data_filtered_region['region'] = avocado_data_filtered_region['region'].replace({
    'california': 'California'
})

In [ ]:
# Convert 'Date' to datetime if not already done
avocado_data_filtered_region['Date'] = pd.to_datetime(avocado_data_filtered_region['Date'])

# Check if all columns have appropriate data types
print(avocado_data_filtered_region.dtypes)

Date            datetime64[ns]
AveragePrice           float64
TotalVolume              int64
region                  object
type                    object
dtype: object

Finally, we made sure that each column had the correct format. For example, dates should be recognized as dates, numbers should be treated as numbers, and text should remain text.

We confirmed that all the columns had the correct data type, especially ensuring that the date column was recognized as a proper date format.

---
<a href=#five></a>
## **Exploratory Data Analysis (EDA)**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Explore and visualize the data to uncover patterns, trends, and relationships.
* **Details:** Use statistics and visualizations to explore the data. This may include histograms, box plots, scatter plots, and correlation matrices. Discuss any significant findings.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#six></a>
## **Modeling**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Develop and train predictive or statistical models.
* **Details:** Describe the choice of models, feature selection and engineering processes, and show how the models are trained. Include code for setting up the models and explanations of the model parameters.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#seven></a>
## **Evaluation and Validation**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Evaluate and validate the effectiveness and accuracy of the models.
* **Details:** Present metrics used to evaluate the models, such as accuracy, precision, recall, F1-score, etc. Discuss validation techniques employed, such as cross-validation or train/test split.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#eight></a>
## **Final Model**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Present the final model and its performance.
* **Details:** Highlight the best-performing model and discuss its configuration, performance, and why it was chosen over others.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#nine></a>
## **Conclusion and Future Work**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Summarize the findings and discuss future directions.
* **Details:** Conclude with a summary of the results, insights gained, limitations of the study, and suggestions for future projects or improvements in methodology or data collection.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#ten></a>
## **References**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Provide citations and sources of external content.
* **Details:** List all the references and sources consulted during the project, including data sources, research papers, and documentation for tools and libraries used.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

## Additional Sections to Consider

* ### Appendix:
For any additional code, detailed tables, or extended data visualizations that are supplementary to the main content.

* ### Contributors:
If this is a group project, list the contributors and their roles or contributions to the project.